h3
{
    font-size: 25px;
    letter-spacing: 5px;
}
.btn-success:hover {
    background-color: red;
}
canvas{
    border-radius: 20px;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{
        box-shadow: 1px 1px 38px red;
    }
    to{
        box-shadow: 3px 3px 38px yellow;
    }
}